{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Home{% endblock %}
{% block home %}

<div class="d-xl-flex">
    <div class="w-100">
        <div class="d-md-flex">
            <div class="card filemanager-sidebar me-md-2">
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="dropdown">
                                    <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-upload me-1"></i>
                                        Upload
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal1" href="#"><i
                                            class="fa fa-folder me-1"></i> Folder</a>
                                        {% comment %} <button type="button" class="btn btn-info btn-lg"
                                            data-toggle="modal" data-target="#myModal">Open Modal</button> {% endcomment %}
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="#"><i
                                                class="fa fa-file me-1"></i>
                                            File</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="" id="folder-upload-frm">
                                            {% csrf_token %}
                                            <input type="hidden" name="form_type" value="folderfrm">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="myfile">Enter Folder Name:</label>
                                                {% render_field folderform.name class="form-control" %}<br>
                                                <span id="err"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="" id="file-upload-frm">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">

                                                <label for="myfile">Select a file:</label>
                                                <input type="hidden" name="folder" value="{{folder}}">
                                                {% render_field form.file class="form-control" %}<br>
                                                {% render_field form.title class="form-control" placeholder="Enter Title" %}<br>
                                                {% render_field form.desc class="form-control" placeholder="Enter Description" %}<br>
                                                <div class="col-md-11 col-sm-12 p-bar hide-me" id="file-pb"></div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>

                            <ul class="list-unstyled categories-list">
                                {% for fol in folders %}
                                <li>
                                    <div class="custom-accordion">
                                        <a href="/folder/{{fol.name}}" class="text-body fw-medium py-1 d-flex align-items-center btn btn-light w-100">
                                            <i class="fas fa-folder font-size-16 text-warning me-2"></i>
                                            {{fol}}</i>
                                        </a>
                                    </div>
                                </li>
                                {% endfor %}
                                <li>
                                    <a href="/trash/" class="text-body d-flex align-items-center btn btn-light w-100">
                                        <i class="fas fa-trash-can text-danger font-size-16 me-2"></i>
                                        <span class="me-auto">Trash</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-auto">
                        </div>
                    </div>
                </div>
            </div>
            <!-- filemanager-leftsidebar -->

            <div class="w-100">
                <div class="card">

                        <div class="mt-4">

                            <div class="table-responsive" >
                                <table class="table align-middle table-nowrap table-hover mb-0"style="padding-bottom:200px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date modified</th>
                                            <th scope="col">Favourite</th>
                                            <th scope="col" colspan="2">Size
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in files %}
                                        <tr id="dv_rca{{file.id}}">
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-file-document font-size-16 align-middle text-primary me-2"></i>
                                                    {{file}}</a></td>
                                            <td>{{file.date|date:'Y-m-d H:i'}}</td>
                                            <td><i data-id="{{file.id}}"
                                                    class='fa fa-star make-fav {% if file.is_fav %}text-secondary{% else %}text-warning{% endif %}'></i>
                                            </td>
                                            <td>{{file.file.size|filesizeformat}}</td>
                                            <td>
                                                <!-- <div class="dropdown">
                                                     <a class="font-size-16 text-muted" role="button"
                                                        data-bs-toggle="dropdown" aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>
                                                </div> -->
                                                <div class="dropdown-menu dropdown-menu-end my-drop-down" id="popupRCA{{file.id}}">
                                                    <a data-url="{{file.file.url}}"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item preview-pdf" href="#" data-toggle="modal"
                                                        data-target="#pdfModal">Preview</a>
                                                    <a data-url="{{file.file.url}}"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item open-file" href="#">Open</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });" href="#">Edit</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });"
                                                        href="#">Rename</a>
                                                    <a data-url="{{file.url}}"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item share-file" href="#">Share</a>
                                                    <div class="dropdown-divider">
                                                    </div>
                                                    <a data-id="{{file.id}}"
                                                        onClick="$('#popupRCA{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item remove-file" href="#">Remove</a>
                                                </div>
                                               
                                            </td>
                                        </tr>
                                        <script>
                                            $(document).ready(function () {
                                        
                                                $("#dv_rca{{file.id}}").bind('contextmenu', function (e) {
                                                    e.preventDefault(); // prevents default menu
                                                    $("#popupRCA{{file.id}}").css({ position: "absolute", top: e.pageY-140, left: e.pageX-230, display: "block" });
                                                });
                                                // $(document).bind("click", function (event) {
                                                //     document.getElementById("popupRC1{{file.id}}").display = "none";
                                                // })
                                            });
                                        </script>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end w-100 -->
        </div>
    </div>

</div>

<!-- END layout-wrapper -->
{{ name|json_script:"name" }}
<script>
    const uploadForm = document.getElementById('file-upload-frm');
    //const uploadFolder = document.getElementById('folder-upload-frm');
    const input_file = document.getElementById('id_file');
    const progress_bar = document.getElementById('file-pb');
    const name = JSON.parse(document.getElementById('name').textContent);
    $("#file-upload-frm").submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        const media_data = input_file.files[0];
        if (media_data != null) {
            //console.log(media_data);
            progress_bar.classList.remove("hide-me");
        }

        $.ajax({
            type: 'POST',
            url: '/folder/'+name+'/',
            data: formData,
            dataType: 'json',
            beforeSend: function () {

            },
            xhr: function () {
                const xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', e => {
                    if (e.lengthComputable) {
                        const percentProgress = (e.loaded / e.total) * 100;
                        console.log(percentProgress);
                        progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" aria-valuemax="100">${percentProgress}</div>`
                    }
                });
                return xhr
            },
            success: function (response) {
                console.log(response);
                uploadForm.reset()
                window.setTimeout(function () {
                    //$("#fileName").addClass('hide-me')
                    //$("#fileSize").addClass('hide-me')
                    //$("#fileType").addClass('hide-me')
                    progress_bar.classList.add('hide-me')
                }, 2000)
                window.location.href = '/folder/'+name+'/';
            },
            error: function (err) {
                console.log(err);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });
</script>
{% endblock %}