{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Home{% endblock %}
{% block home %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>
<!-- jQuery should be at least version 1.7 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $(".dv_rc").bind('contextmenu', function (e) {
            e.preventDefault(); // prevents default menu 

            $(".popupRC").css({ position: "absolute", top: e.pageY, left: e.pageX, display: "block" });

        });
        $(document).bind("click", function (event) {
            document.getElementsByClassName("popupRC").display = "none";
        })

    });

</script>

<div class="d-xl-flex">
    <div class="w-100">
        <div class="d-md-flex">
            <div class="card filemanager-sidebar me-md-2">
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="dropdown">
                                    <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus me-1"></i>
                                        Upload
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#flModal" href="#"><i
                                                class="fa fa-folder me-1"></i>
                                            Folder</a>
                                        <!-- <button type="button" class="btn btn-info btn-lg"
                                            data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="#">
                                            <i class="fa fa-file me-1"></i>File</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="" id="file-upload-frm">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="myfile">Select a file:</label>
                                                {% render_field form.file class="form-control" %}<br>
                                                {% render_field form.title class="form-control" placeholder="Enter Title" %}<br>
                                                {% render_field form.desc class="form-control" placeholder="Enter Description" %}<br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>

                            <ul class="list-unstyled categories-list">
                                <li>
                                    <div class="custom-accordion">
                                        <a class="text-body fw-medium py-1 d-flex align-items-center"
                                            data-bs-toggle="collapse" href="#categories-collapse" role="button"
                                            aria-expanded="false" aria-controls="categories-collapse">
                                            <i class="fas fa-folder font-size-16 text-warning me-2"></i>
                                            Files <i class="fas fa-chevron-up accor-down-icon ms-auto"></i>
                                        </a>
                                        <div class="collapse show" id="categories-collapse">
                                            <div class="card border-0 shadow-none ps-2 mb-0">
                                                <ul class="list-unstyled mb-0">
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center"><span
                                                                class="me-auto">Design</span></a>
                                                    </li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center"><span
                                                                class="me-auto">Development</span>
                                                            <i class="fas fa-pin ms-auto"></i></a>
                                                    </li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center"><span
                                                                class="me-auto">Project
                                                                A</span></a>
                                                    </li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center"><span
                                                                class="me-auto">Admin</span>
                                                            <i class="fas fa-pin ms-auto"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/trash/" class="text-body d-flex align-items-center">
                                        <i class="fas fa-trash-can text-danger font-size-16 me-2"></i>
                                        <span class="me-auto">Trash</span>
                                    </a>
                                </li>
                                {% comment %} <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center">
                                        <i class="fas fa-cog text-muted font-size-16 me-2"></i>
                                        <span class="me-auto">Setting</span><span
                                            class="badge bg-success rounded-pill ms-2">01</span>
                                    </a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="mt-auto">
                        </div>
                    </div>

                </div>
            </div>
            <!-- filemanager-leftsidebar -->

            <div class="w-100">
                <div class="card" style="padding-left: 8px;">
                    <div class="card-body">
                        <div>
                            <div class="row mb-3">
                                <div class="col-xl-3 col-sm-6">
                                    <div class="mt-2">
                                        <h5>My Files</h5>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-sm-6">
                                    <form class="mt-4 mt-sm-0 float-sm-end d-flex align-items-center">
                                        <div class="search-box mb-2 me-2">
                                            <div class="position-relative">
                                                <input type="text" class="form-control bg-light border-light rounded"
                                                    placeholder="Search...">
                                                <i class="fas fa-search-alt search-icon"></i>
                                            </div>
                                        </div>

                                        <div class="dropdown mb-0">
                                            <a class="btn btn-link text-muted mt-n2" role="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="fas fa-dots-vertical font-size-20"></i>
                                            </a>

                                            {% comment %} <div class="dropdown-menu  my-drop-down">
                                                <a class="dropdown-item" href="#">Share
                                                    Files</a>
                                                <a class="dropdown-item" href="#">Share
                                                    with me</a>
                                                <a class="dropdown-item" href="#">Other
                                                    Actions</a>{% endcomment %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                {% for i in "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" %}
                                <div class="col-xl-1 col-sm-12 dv_rc" style="padding:5px">
                                    <div class="card shadow-none" style="width:100px">
                                        <div class="card-body p-1">
                                            <div class="">
                                                <div class="float-end ms-2">
                                                    <div class="dropdown mb-2 ">
                                                        <!--  <a class="font-size-16 text-muted" role="button"
                                                            data-bs-toggle="dropdown" aria-haspopup="true">
                                                            <i class="fa fa-ellipsis-h"></i>
                                                        </a> -->
                                                    </div>
                                                </div>
                                                <div class="avatar-xs me-3 mb-3" id="box">
                                                    <div class="avatar-title bg-transparent rounded">
                                                        <i class="fas fa-folder text-warning"
                                                            style="font-size: 30px;"></i>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="overflow-hidden">
                                                        <p class="font-size-14 text-truncate mb-1">
                                                            <a href="javascript: void(0);" class="text-body">Design</a>
                                                        </p>
                                                        <p class="text-muted text-truncate mb-0">
                                                            12 Files</p>
                                                    </div>
                                                    <div class="align-self-end ms-2">
                                                        <p class="text-muted mb-0">
                                                            &nbsp; 6GB</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                    <!-- menu -->
                    <div class="panel panel-primary my-drop-down popupRC " style=" background-color:whitesmoke; display:none;">
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Upload
                            file</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Open</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Create
                            Folder</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Edit
                            File</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Enable
                            Client View</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Important
                            (Mark)</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Mark
                            favorites to Create Shortcut</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Move</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Download</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Delete</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Rename </a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });"
                            href="#">Details/Properties </a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Short </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Send Mail
                            Notification</a>
                    </div>

                    <div class="mt-4" style="padding-bottom:200px;">
                        <div class="d-flex flex-wrap">
                            <h5 class="font-size-16 me-3">Recent Files
                            </h5>

                            <div class="ms-auto">
                                <a href="/files/" class="fw-medium text-reset">View All</a>
                            </div>
                        </div>
                        <hr class="mt-2">

                        <div class="table-responsive" style="padding-bottom:200px;">
                            <table class="table align-middle table-nowrap table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date modified</th>
                                        <th scope="col">Favourite</th>
                                        <th scope="col" colspan="2">Size
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                    <tr id="dv_rc1{{file.id}}">
                                        <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                    class="fas fa-file-document font-size-16 align-middle text-primary me-2"></i>
                                                {{file}}</a></td>
                                        <td>{{file.date|date:'Y-m-d H:i'}}</td>
                                        <td><i data-id="{{file.id}}"
                                                class='fa fa-star make-fav {% if file.is_fav %}text-secondary{% else %}text-warning{% endif %}'></i>
                                        </td>
                                        <td>{{file.file.size|filesizeformat}}</td>
                                        <td>
                                            <!-- <div class="dropdown">
                                                 <a class="font-size-16 text-muted" role="button"
                                                    data-bs-toggle="dropdown" aria-haspopup="true">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </a>

                                            </div> -->
                                            <div class="dropdown-menu dropdown-menu-end my-drop-down" id="popupRC1{{file.id}}">
                                                <a data-url="{{file.file.url}}"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                    class="dropdown-item preview-pdf" href="#" data-toggle="modal"
                                                    data-target="#pdfModal">Preview</a>
                                                <a data-url="{{file.file.url}}"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                    class="dropdown-item open-file" href="#">Open</a>
                                                <a class="dropdown-item"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });" href="#">Edit</a>
                                                <a class="dropdown-item"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                    href="#">Rename</a>
                                                <a data-url="{{file.url}}"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                    class="dropdown-item share-file" href="#">Share</a>
                                                <div class="dropdown-divider">
                                                </div>
                                                <a data-id="{{file.id}}"
                                                    onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                    class="dropdown-item remove-file" href="#">Remove</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <script>
                                        $(document).ready(function () {

                                            $("#dv_rc1{{file.id}}").bind('contextmenu', function (e) {
                                                e.preventDefault(); // prevents default menu 

                                                $("#popupRC1{{file.id}}").css({ position: "absolute", top: e.pageY, left: e.pageX, display: "block" });

                                            });
                                            // $(document).bind("click", function (event) {
                                            //     document.getElementById("popupRC1{{file.id}}").display = "none";
                                            // })

                                        });
                                    </script>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end w-100 -->
    </div>
</div>
</div>
<!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


</div>
<!-- END layout-wrapper -->


<script>
    const uploadForm = document.getElementById('file-upload-frm');
    const input_file = document.getElementById('id_file');
    //const progress_bar = document.getElementById('file-pb');

    $("#file-upload-frm").submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        const media_data = input_file.files[0];
        if (media_data != null) {
            console.log(media_data);
            //progress_bar.classList.remove("hide-me");
        }

        $.ajax({
            type: 'POST',
            url: '/',
            data: formData,
            dataType: 'json',
            beforeSend: function () {

            },
            xhr: function () {
                const xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', e => {
                    if (e.lengthComputable) {
                        const percentProgress = (e.loaded / e.total) * 100;
                        console.log(percentProgress);
                        //progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" aria-valuemax="100">${percentProgress}</div>`
                    }
                });
                return xhr
            },
            success: function (response) {
                console.log(response);
                uploadForm.reset()
                window.setTimeout(function () {
                    //$("#fileName").addClass('hide-me')
                    //$("#fileSize").addClass('hide-me')
                    //$("#fileType").addClass('hide-me')
                    //progress_bar.classList.add('hide-me')
                }, 2000)
            },
            error: function (err) {
                console.log(err);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });
</script>


{% endblock %}