{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Home{% endblock %}
{% block home %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    .answer { display:none }
</style>
<script>
    $(function() {
        $("#coupon_question").on("click",function() {
          $(".answer").toggle(this.checked);
        });
      });
      function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>
<!-- jQuery should be at least version 1.7 -->

<div class="d-xl-flex">
    <div class="w-100">
        <div class="d-md-flex">
            <div class="card filemanager-sidebar me-md-2">
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="dropdown">
                                    <button class="btn btn-light w-100" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-upload me-1"></i>
                                        Upload
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal1" href="#"><i
                                                class="fa fa-folder me-1"></i> Folder</a>
                                        <!-- <button type="button" class="btn btn-info btn-lg"
                                            data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                                        <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="#">
                                            <i class="fa fa-file me-1"></i> File</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="" id="folder-upload-frm">
                                            {% csrf_token %}
                                            <input type="hidden" name="form_type" value="folderfrm">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="myfile">Enter Folder Name:</label>
                                                {% render_field folderform.name class="form-control" %}<br>
                                                <span id="err"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="" id="file-upload-frm">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="myfile">Select a file:</label>
                                                {% render_field form.file class="form-control" %}<br>
                                                <fieldset class="question">
                                                    <label for="coupon_question">Do you want to Edit a file name?</label>
                                                    <input id="coupon_question" type="checkbox" name="coupon_question" value="1" />
                                                    <span class="item-text">Yes</span>
                                                  </fieldset>
                                                  <fieldset class="answer">
                                                    {% render_field form.name class="form-control" placeholder="Enter Name" %} <br>
                                                  </fieldset>
                                                {% render_field form.desc class="form-control" placeholder="Enter Description" %}<br>
                                                <div class="col-md-11 col-sm-12 p-bar hide-me" id="file-pb"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                       
                                    </form>
                                </div>
                                </div>
                            </div>

                            <ul class="list-unstyled categories-list">
                                {% for fol in folders %}
                                <li>
                                    <div class="custom-accordion">
                                        <a href="/folder/{{fol.name}}"
                                            class="text-body fw-medium py-1 d-flex align-items-center btn btn-light w-100">
                                            <i class="fas fa-folder font-size-16 text-warning me-2"></i>
                                            {{fol}}</i>
                                        </a>
                                    </div>
                                </li>
                                {% endfor %}
                                {% comment %} <li>
                                    <a href="/trash/" class="text-body d-flex align-items-center btn btn-light w-100">
                                        <i class="fas fa-trash-can text-danger font-size-16 me-2"></i>
                                        <span class="me-auto">Trash</span>
                                    </a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="mt-auto">
                        </div>
                    </div>

                </div>
            </div>
            <!-- filemanager-leftsidebar -->

            <div class="w-100">
                <div class="card" style="padding-left: 8px;">
                    <div class="card-body">
                        {% comment %} {% for fd in folders %}
                        <a href="{{fd}}">{{fd}}</a>
                        {% endfor %}  {% endcomment %}
                            <div class="table-responsive" style="padding-bottom:200px;">
                                <table class="table align-middle table-nowrap table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:120px;"><input type="checkbox" onclick="toggle(this);" /> Select all?<br /></th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Date modified</th>
                                            <th scope="col">Favourite</th>
                                            <th scope="col" colspan="2">Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for folder in folders %}
                                        <tr data-url="{{folder.folder.url}}" class="db-click" id="dv_rc{{folder.id}}" data-name="{{folder.name}}">
                                            <td><input type="checkbox" /></td>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i class="fa fa-folder font-size-16 align-middle text-warning me-2" aria-hidden="true"></i>
                                                    {{folder}}</a></td><td></td>
                                            <td>{{folder.date|date:'Y-m-d H:i'}}</td><td></td>
                                            <td>{% if folder.totalFolder == 0 %}Empty{% elif folder.totalFolder > 1 %}{{folder.totalFolder}} Files{% else %}{{folder.totalFolder}} File{% endif %}</td>
                                        </tr>
                                        <!-- menu -->
                                        <div class="panel panel-primary my-drop-down" id="popupRC{{folder.id}}"
                                        style=" background-color:whitesmoke; display:none;">
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" data-toggle="modal" data-target="#myModal" href="#">Upload
                                            file</a>
                                        <a class="dropdown-item openfolder" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });"  data-name="{{folder.name}}" href="#">Open</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Create
                                            Folder</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Edit
                                            File</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Enable
                                            Client View</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Important
                                            (Mark)</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Mark
                                            favorites to Create Shortcut</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Move</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Download</a>
                                        <a data-id="{{folder.id}}"  onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" class="dropdown-item remove-folder"  href="#">Delete</a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Rename </a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });"
                                            href="#">Details/Properties </a>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Short </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onClick="$('#popupRC{{folder.id}}').css({ display: 'none' });" href="#">Send Mail
                                            Notification</a>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                    
                                            $("#dv_rc{{folder.id}}").bind('contextmenu', function (e) {
                                                e.preventDefault(); // prevents default menu 
                                    
                                                $("#popupRC{{folder.id}}").css({ position: "absolute", top: e.pageY-145, left: e.pageX-250, display: "block" });
                                            });
                                            $(document).bind("click", function (event) {
                                                document.getElementsByClassName("popupRC").display = "none";
                                            })
                                        });
                                    
                                    </script>

                            {% endfor %}
                            {% for file in files %}
                                        <tr data-url="{{file.file.url}}" class="db-click" id= "dv_rc1{{file.id}}">
                                            <td><input type="checkbox" /></td>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                class="fa fa-file font-size-16 align-middle text-primary me-2"></i>
                                                    {{file}}</a></td>
                                            <td>{{file.desc}} </td>
                                            <td>{{file.date|date:'Y-m-d H:i'}}</td>
                                            <td><i data-id="{{file.id}}"
                                                    class='fa fa-star make-fav {% if file.is_fav %}text-secondary{% else %}text-warning{% endif %}'></i>
                                            </td>
                                            <td>{{file.file.size|filesizeformat}}</td>
                                            <td>
                                                <!-- <div class="dropdown">
                                                     <a class="font-size-16 text-muted" role="button"
                                                        data-bs-toggle="dropdown" aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>
                                                </div> -->
                                                <div class="dropdown-menu dropdown-menu-end my-drop-down"
                                                    id="popupRC1{{file.id}}">
                                                    <a data-url="{{file.file.url}}"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item preview-pdf" href="#" data-toggle="modal"
                                                        data-target="#pdfModal">Preview</a>
                                                    <a data-url="{{file.file.url}}"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item open-file" href="#">Open</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        href="#">Edit</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        href="#">Rename</a>
                                                    <a data-url="{{file.url}}"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item share-file" href="#">Share</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        href="#">permission</a>
                                                    <a class="dropdown-item"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        href="#">Groups</a>
                                                    <div class="dropdown-divider">
                                                    </div>
                                                    <a data-id="{{file.id}}"
                                                        onClick="$('#popupRC1{{file.id}}').css({ display: 'none' });"
                                                        class="dropdown-item remove-file" href="#">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <script>
                                            $(document).ready(function () {
    
                                                $("#dv_rc1{{file.id}}").bind('contextmenu', function (e) {
                                                    e.preventDefault(); // prevents default menu 
    
                                                    $("#popupRC1{{file.id}}").css({ position: "absolute", top: e.pageY-145, left: e.pageX-250, display: "block" });
    
                                                });
                                                // $(document).bind("click", function (event) {
                                                //     document.getElementById("popupRC1{{file.id}}").display = "none";
                                                // })
                                            });
                                        </script>
                            {% endfor %}
                                {% comment %} {% for folder in folders %}
                                <div class="col-xl-1 col-sm-12 dv_rc openfolder" style="padding:5px"
                                    data-name="{{folder.name}}">
                                    <div class="card shadow-none" style="width:100px">
                                        <div class="card-body p-1">
                                            <div class="">
                                                <div class="float-end ms-2">
                                                    <div class="dropdown mb-2 ">
                                                    </div>
                                                </div>
                                                <div class="avatar-xs me-3 mb-3" id="box">
                                                    <div class="avatar-title bg-transparent rounded">
                                                        <i class="fas fa-folder text-warning"
                                                            style="font-size: 30px;"></i>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="overflow-hidden">
                                                        <p class="font-size-14 mb-1">
                                                            <a href="javascript: void(0);"
                                                                class="text-body">{{folder.name}}</a>
                                                        </p>
                                                        <p class="text-muted mb-0">
                                                            {% if folder.totalFolder == 0 %}Empty{% elif folder.totalFolder > 1 %}{{folder.totalFolder}} Files{% else %}{{folder.totalFolder}} File{% endif %} </p>
                                                    </div>
                                                    <!--<div class="align-self-end ms-2">
                                                        <p class="text-muted mb-0">
                                                            &nbsp; 6GB</p>
                                                    </div>-->
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% empty %}
                                <div class="col">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal1" href="#"><i
                                            class="fa fa-plus me-1"></i>Create Folder</a>
                                </div>
                                {% endfor %}
                                <!-- end col -->
                                <!-- file tab start-->
                                {% for file in files %}
                                <div class="col-xl-1 col-sm-12 db-click dv_rc1" data-url="{{file.file.url}}" style="padding:5px" data-name="{{file.name}}">
                                    <div class="card shadow-none" style="width:100px">
                                        <div class="card-body p-1">
                                            <div class="">
                                                <div class="float-end ms-2">
                                                    <div class="dropdown mb-2 ">
                                                    </div>
                                                </div>
                                                <div class="avatar-xs me-3 mb-3" id="box">
                                                    <div class="avatar-title bg-transparent rounded">
                                                        <i class="fa fa-file" aria-hidden="true" style="font-size: 30px;"></i>
                                                        
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="overflow-hidden">
                                                        <p class="font-size-14 mb-1">
                                                            <a href="javascript: void(0);"
                                                                class="text-body">{{file.name}}</a>
                                                        </p>
                                                        <p class="text-muted mb-0">
                                                            {% if file.totalfile == 0 %}Empty{% elif file.totalfile > 1 %}{{file.totalfile}} Files{% else %}{{file.totalfile}} File{% endif %} </p>
                                                    </div>
                                                    <!--<div class="align-self-end ms-2">
                                                        <p class="text-muted mb-0">
                                                            &nbsp; 6GB</p>
                                                    </div>-->
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% empty %}
                                {% endfor %} {% endcomment %}
                            <!-- end row -->
                        </div>
                    </div>
                    <!-- menu -->
                    {% comment %} <div class="panel panel-primary my-drop-down popupRC "
                        style=" background-color:whitesmoke; display:none;">
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Upload
                            file</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Open</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Create
                            Folder</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Edit
                            File</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Enable
                            Client View</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Important
                            (Mark)</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Mark
                            favorites to Create Shortcut</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Move</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Download</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Delete</a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Rename </a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });"
                            href="#">Details/Properties </a>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Short </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onClick="$('.popupRC').css({ display: 'none' });" href="#">Send Mail
                            Notification</a>
                    </div>
                    <script>
                        $(document).ready(function () {
                    
                            $(".dv_rc").bind('contextmenu', function (e) {
                                e.preventDefault(); // prevents default menu 
                    
                                $(".popupRC").css({ position: "absolute", top: e.pageY-90, left: e.pageX-250, display: "block" });
                    
                            });
                            $(document).bind("click", function (event) {
                                document.getElementsByClassName("popupRC").display = "none";
                            })
                    
                        });
                    
                    </script> 

                    <div class="dropdown-menu dropdown-menu-end my-drop-down popupRC1">
                        <a data-url="{{file.file.url}}"
                            onClick="$('.popupRC1').css({ display: 'none' });"
                            class="dropdown-item preview-pdf" href="#" data-toggle="modal"
                            data-target="#pdfModal">Preview</a>
                        <a data-url="{{file.file.url}}"
                            onClick="$('.popupRC1').css({ display: 'none' });"
                            class="dropdown-item open-file" href="#">Open</a>
                        <a class="dropdown-item"
                            onClick="$('.popupRC1').css({ display: 'none' });"
                            href="#">Edit</a>
                        <a class="dropdown-item"
                            onClick="$('.popupRC1').css({ display: 'none' });"
                            href="#">Rename</a>
                        <a data-url="{{file.url}}"
                            onClick="$('.popupRC1').css({ display: 'none' });"
                            class="dropdown-item share-file" href="#">Share</a>
                        <div class="dropdown-divider">
                        </div>
                        <a data-id="{{file.id}}"
                            onClick="$('.popupRC1{{file.id}}').css({ display: 'none' });"
                            class="dropdown-item remove-file" href="#">Remove</a>
                    </div>
                    <script>
                        $(document).ready(function () {

                            $(".dv_rc1").bind('contextmenu', function (e) {
                                e.preventDefault(); // prevents default menu 

                                $(".popupRC1").css({ position: "absolute", top: e.pageY-90, left: e.pageX-250, display: "block" });

                            });
                        });
                    </script>{% endcomment %}
                </div>

                    </div>

                    
                                    
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        {% comment %} <div class="card filemanager-sidebar ms-lg-3">
            <div class="card-body" style="width:700px;">
                <embed src="" height="100%" width="500px" type="application/pdf" id="embed1"></embed>
            </div>
        </div> {% endcomment %}
    </div> 
    <!-- end row -->
    
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

        <!-- end w-100 -->
    </div>
</div>
</div>
<!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


</div>
<!-- END layout-wrapper -->


<script>
    const uploadForm = document.getElementById('file-upload-frm');
    const uploadFolder = document.getElementById('folder-upload-frm');
    const input_file = document.getElementById('id_file');
    const progress_bar = document.getElementById('file-pb');

    $("#file-upload-frm").submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        const media_data = input_file.files[0] || src;
        if (media_data != null) {
            //console.log(media_data);
            progress_bar.classList.remove("hide-me");
        }

        $.ajax({
            type: 'POST',
            url: '/',
            data: formData,
            dataType: 'json',
            beforeSend: function () {
            },
            xhr: function () {
                const xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', e => {
                    if (e.lengthComputable) {
                        const percentProgress = (e.loaded / e.total) * 100;
                        //console.log(percentProgress);
                        progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success" type="application/pdf" role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0" aria-valuemax="100">${percentProgress}</div>`
                    }
                });
                return xhr
            },
            success: function (response) {
                console.log(response);
                uploadForm.reset()
                window.setTimeout(function () {
                    //$("#fileName").addClass('hide-me')
                    //$("#fileSize").addClass('hide-me')
                    //$("#fileType").addClass('hide-me')
                    progress_bar.classList.add('hide-me')
                }, 2000)
                window.location.href = "/";
            },
            error: function (err) {
                console.log(err);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });

    $("#folder-upload-frm").submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: '/',
            data: formData,
            dataType: 'json',
            beforeSend: function () {

            },
            success: function (response) {
                if (response["status"])
                    window.location.href = "/";
                $("#err").html(response["data"]);
                window.setTimeout(function () {
                    $("#err").html("");
                }, 2000)
            },
            error: function (err) {
                console.log(err);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    });


    $(document).on("click", ".openfolder", function () {
        var name = $(this).data("name");
        window.open("/folder/" + name + "/");
    })
</script>


{% endblock %}