{% extends 'logbase.html' %}
{% load widget_tweaks %}
{% block title %}Logout{% endblock %}
{% block content %}
{% load static %}

<body class="bg-gradient-primary">

    <div class="container" style="color: black;">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="col-xl-10 col-lg-12 col-md-9">
                            <h2 class="text-lg-start">Menu:</h2>
                            <ul class="list-group">

                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/email/">Change
                                        E-mail</a></li>
                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/login/">Sign In</a></li>
                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/logout/">Sign
                                        Out</a></li>

                            </ul>
                        </div>
                        </br></br></br>
                        <div class="container-fluid">

                            <h1>Account Inactive</h1>

                            <p>This account is inactive.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock %}