{% extends 'logbase.html' %}
{% load widget_tweaks %}
{% block title %}Logout{% endblock %}
{% block content %}
{% load static %}

<body class="bg-gradient-primary">

    <div class="container" style="color: black;">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="col-xl-10 col-lg-12 col-md-9">
                            <h2 class="text-lg-start">Menu:</h2>
                            <ul class="list-group">

                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/email/">Change
                                        E-mail</a></li>
                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/logout/">Sign
                                        Out</a></li>
                            </ul>
                        </div>
                        </br></br></br>
                        <div class="container-fluid">
                            <h1>Change Password</h1>
                            <form method="POST" action="/accounts/password/reset/key/1-set-password/">
                                <input type="hidden" name="csrfmiddlewaretoken"
                                    value="kJ48uU7fWI00A3oRaR9qhAR9uioUUHK5jlyBCGfSzHptwDnTGF71ditB4vqzeeTP">
                                <p>
                                    <label for="id_password1">New Password:</label>
                                    <input type="password" class="form-control" name="password1" placeholder="New Password"
                                        autocomplete="new-password" required id="id_password1">
                                </p>
                                 <p>
                                    <label for="id_password2">New Password (again):</label>
                                    <input type="password" class="form-control" name="password2" placeholder="New Password (again)" required
                                        id="id_password2">
                                </p>
                                <input type="submit" name="action" value="change password" />
                            </form>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}