{% extends 'logbase.html' %}
{% load widget_tweaks %}
{% block title %}Logout{% endblock %}
{% block content %}
{% load static %}

<body class="bg-gradient-primary">

    <div class="container" style="color: black;">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="col-xl-10 col-lg-12 col-md-9">
                            <h2 class="text-lg-start">Menu:</h2>
                            <ul class="list-group">

                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/email/">Change
                                        E-mail</a></li>
                                <li class="list-group-item" style=" width: 542px;"><a href="/accounts/logout/">Sign
                                        Out</a></li>

                            </ul>
                        </div>
                        </br></br></br>
                        <div class="container-fluid">
                            <h1>Password Reset</h1>
                            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail
                                allowing you to reset it.</p>
                            <form method="POST" action="/accounts/password/reset/" class="password_reset">
                                <input type="hidden" name="csrfmiddlewaretoken"
                                    value="OwcL3AydpWUa8Xm9pHSCARP7paUHlQBuOOKRzreC5I3JvGB1GRtSNsYizXpWxMcy">
                                {% csrf_token %}
                                <p>
                                    <label for="id_email">E-mail:</label>
                                    <input type="email" name="email" class="form-control" placeholder="E-mail address"
                                        autocomplete="email" required id="id_email">
                                </p>
                                <input type="submit" value="Reset My Password" />
                            </form>
                            <p>Please contact us if you have any trouble resetting your password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}