{% extends 'logbase.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.oldpassword class="form-control form-control-user" placeholder="Enter old password" %}
        </div>
        <div class="form-group">
            {% render_field form.password1 class="form-control form-control-user" placeholder="Enter New password" %}
        </div>
        <div class="form-group">
            {% render_field form.password2 class="form-control form-control-user" placeholder="Enter Conform password" %}
        </div>
        <button type="submit" name="action">Change Password </button>
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </form>
{% endblock %}